body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: auto; 
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1; 
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.content p {
    color: #555;
    line-height: 1.6;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.links a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.links a:hover {
    background-color: #0056b3;
}

.question h2 {
    color: #007BFF;
    text-align: center;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.choice img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Adapte l'image à l'intérieur du conteneur sans déformation */
    border-radius: 8px;
}

.choices {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: stretch; 
}

.choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.choice-content-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.choice-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 30%; /* Limite la taille maximale à 30% pour 3 éléments */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

.choice-content a {
    display: block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    width: 100%; /* Assure que le bouton prend toute la largeur disponible */
}

.choice-content p {
    color: #555;
    line-height: 1.4;
    margin: 10px 0 0 0;
    text-align: center;
}

.choice-content a:hover {
    background-color: #0056b3;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.navigation-buttons a {
    display: inline-block; /* Affiche les liens comme des blocs en ligne */
    padding: 10px 20px;
    background-color: #007BFF; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Retire la sous-ligne */
    border-radius: 5px; /* Bords arrondis */
    margin-right: 10px; /* Espacement entre les boutons */
    text-align: center; /* Centre le texte dans le bouton */
    cursor: pointer; /* Curseur en forme de main sur les boutons */
}

.navigation-buttons a:hover {
    background-color: #0056b3; /* Couleur du fond en survol */
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.characteristics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.characteristic {
    width: 30%;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.characteristic h3 {
    color: #007BFF;
}

.characteristic p {
    color: #555;
    line-height: 1.6;
}

/* mise en page des boutons de la page d'acceuil index.html */
.homepage-characteristics .characteristic {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.homepage-characteristics .characteristic img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Garde les proportions de l'image */
}


/*stylisation de l'insert github*/

.github-section ul {
    list-style-type: none;
    padding: 0;
}

.github-section li {
    margin: 15px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.github-section li strong {
    font-size: 16px;
    color: #333;
}

.github-section li em {
    color: #555;
    font-size: 14px;
}

.github-section li p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.github-section li a {
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    color: #0366d6;
    font-weight: bold;
    transition: color 0.3s ease;
}

.github-section li a:hover {
    color: #024f9a;
}

/*mise en page de la page classification.html*/

.subfamily {
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement à l'intérieur */
    align-items: flex-start; /* Aligne le contenu sur la gauche */
    padding: 15px;
    background-color: #f9f9f9; /* Couleur de fond distincte pour les blocs */
    border: 1px solid #ddd; /* Ajoute une bordure pour mieux distinguer les blocs */
    border-radius: 5px;
    width: calc(33.333% - 20px); /* Occupe environ un tiers de la largeur du conteneur, en tenant compte de l'espace */
    box-sizing: border-box;
}

.subfamily h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #007BFF;
}

.subfamily ul {
    list-style: none; /* Supprime les puces */
    margin: 0;
    padding: 0;
}

.subfamily ul li {
    margin-bottom: 8px; /* Ajoute de l'espace entre les éléments */
}

.subfamily ul li a {
    text-decoration: none;
    color: #333;
}

.subfamily ul li a:hover {
    text-decoration: underline;
    color: #0056b3;
}